<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038251992980-otv4hn9f5tgnqdi7ioethsu5ubr8unbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038251992980-otv4hn9f5tgnqdi7ioethsu5ubr8unbu</string>
	<key>API_KEY</key>
	<string>AIzaSyBWDAwIH84mlilXsyh_BnAEccfZGUj4-JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1038251992980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pixelsUser</string>
	<key>PROJECT_ID</key>
	<string>pixels-co</string>
	<key>STORAGE_BUCKET</key>
	<string>pixels-co.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038251992980:ios:7e5caef91a43ab9c751181</string>
</dict>
</plist>